@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    position: absolute;
    top: 64px;
    left: -232px;
    /* background: darkorange; */
    z-index: 1;
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}

header li {
    margin-bottom: 16px;
}

h1 {
    font-size: 60px;
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 16px;
    /* margin: 64px 10px 16px 10px; */
}


/* h1+p {
    margin-bottom: 64px;
} */

hr {
    margin: 64px 0;
    /* color: var(); */
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    /* border: 1px solid blue; */
    border-left: 4px solid var(--gray30);
}

blockquote span {
    color: var(--gray10);
}

.header {
    /* border: 1px solid blue; */
    position: sticky;
    top: 0;
}

blockquote span::before {
    content: '-';
}

.header-content {
    position: relative;
}


/* .main {
    border: 1px solid blue;
} */

.wrapper {
    width: 902px;
    margin: auto;
    /* background: #616161; */
}

.main-content {
    background: white;
    /* padding: 20px; */
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../images/patron-1.png);
    height: 350px;
}

.section-content {
    margin-top: 164px;
    /* position: relative; */
    counter-reset: titileList;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content+hr {
    display: none;
}

.section-content img {
    margin-top: 40px;
}


/* .section-content {
    counter-reset: titileList;
} */

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    /* background: purple; */
}